.drop-cap:first-letter {
    float: left;
    line-height: 85%;
    font-size: 330%;
}

.no-link-decoration {
    text-decoration: none;
    color: inherit
}

.no-link-decoration:hover {
    text-decoration: none;;
    color: inherit
}